@import "backgrounds.less";
@import "title.less";

.accordion {
  background-color: white;
  padding: 10px;
  border-style: solid;
  border-color: darkred;
  border-radius: 5px;
  margin-bottom: 20px;

  h2,
  h4 {
    color: black;
    font-weight: bold;
  }

  h2 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.5em;
  }

  h4:hover {
    cursor: pointer;
  }
}

#carousel {
  background-color: white;
  padding: 10px;
  border-style: solid;
  border-color: darkred;
  border-radius: 5px;
  margin-bottom: 20px;

  h2 {
    color: black;
    font-weight: bold;
    font-size: 2em;
  }
}

:root {
  --image-height: 200px;
}

#carousel img {
  height: var(--image-height);
}
