

/* .page-wrapper {
    background-color: rgb(208, 239, 247);
} */

.sections {
    font-size: 2em;
    color: rgb(0, 51, 109);
    background-color: rgb(rgb(248, 158, 84), green, blue);
}

.product-info-main {
    background-color: #95a6b1;
}

/*
Pongo un comentario aca para poder hacer commit del ej 8
*/
